body {
    background-color: rgba(56, 103, 119, 0.7);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.brand {
    width: 25%;
}

.bg {
display: flex;
}

.model-sum {
    margin: 20px;
    border: 8px solid #88fffb30;
    border-radius: 20px;
    width: 300px;
    height: 340px;
    background-color:#6f6f6f30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


button {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #cccccc;
    background: green;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

h2 {
    color:#dddddd;
    padding: 0;
    margin: 0;
}

.venue {
    position: absolute;
    font-size: clamp(5rem, 18vw, 20rem);
    z-index: -9;
    color:#88fffb30;
    top: 80px;
}

img {
    width: 80%;
}

.select {
    max-width: 800px;
    border: 8px solid #88fffb30;
    border-radius: 30px;
    padding-left: 50px;
}

.row {
    display: flex;
    justify-content: start;
    gap: 60px;
}

.radio {
    cursor: pointer;
    margin: 8px 0;
}

.colors h4 {
    margin-left: 20px;
}

.button {
    border: 2px solid #74c4b800;
}

.button:hover {
    border: 2px solid #74c4b8;
}

.colorsSelector {
    display: flex;
    flex-wrap: wrap;
}